body{
    font: 15px/1.5em Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul{
    padding: 0;
    width: 60%;
    margin: auto;
}

#showcase{
    min-height: 220px; /*300*/
    margin-right: 20px;
    background-color: #35424a;
    border-bottom-right-radius: 120px; /*150*/
    text-align: center;
    color: #ffffff;
    border-bottom: #e8491d 5px solid ;
    border-right: #e8491d 1px solid ;
    white-space: nowrap;
}

#showcase img{
    width: 50px;
    margin-right: 20px;
}
#showcase h1{
    margin-top: 50px; /*100*/
    text-align: left;
    font-size: 30px;    
}
#showcase h3{
    font-size: 30px;
    text-align: left; 
}

.highlight{
    font-size: 80px;
    padding-left:200px;
}

.color{
    color: #e8491d;
}

#main{
    margin-top: 50px;
}

ul#quest li{
    list-style: none;
    padding: 20px;
    border: #cccccc 2px solid;
    /*border-radius: 25px;*/
    margin-bottom:25px;
    text-align: center;
    background-color: #e6e6e6;
}
ul#quest li a{
    text-decoration: none;
    color:#222222;
    font: 25px/1.5em Arial, Helvetica, sans-serif;

}


ul#quest li a:hover{
    color:#e8491d
} 
ul#quest li:hover{
    border: #e8491d 2px solid;
}

.main-col{
    width: 45%;
    /*margin: auto;*/
    padding: 20px;
    border: #cccccc 2px solid;
    /*border-radius: 25px;*/
    text-align: left;
    background-color: #e6e6e6;
}
.main-col h1{
    font-size: 30px;
    font-weight: normal;
    text-align: left;
}

.main-col h2{
    font-size: 20px;
    font-weight: normal;
    text-align: left;
}


.main-col a{
   /* text-decoration: none; */
    color: #e8491d;
    margin-left: 40px;
}

.main-col textarea{
    width: 50%;
    padding: 30px;
    margin: 20px 0px 20px 40px;
}

.button-1{
    padding: 10px;
    background-color: #e8491d;
    border: none;
    color: #ffffff;
}

.main-col button{
    margin-left: 40px;
}
.message{
    padding-left: 10px;
    width: 450px;
    margin:  20px 20px 10px 40px;
    color: #222222;
    background-color: #ffffff;
    border: #e8491d 1px solid;
}

.main-col ul{
    padding: 0;
    margin: 20px 20px 10px 60px;
    list-style: none;
    text-align: left;

}
.main-col li{
    font-size: 23px;
    font-weight: normal;
    margin-bottom: 10px;
}

.main-col-1{
    width: 45%;
    margin: auto;
    padding: 50px 25px 50px 25px;
    border: #cccccc 2px solid;
    /*border-radius: 25px;*/
    text-align: center;
    background-color: #e6e6e6;
}

.main-col-1 label{
    font-size: 20px;
    font-weight: normal;
}
.main-col-1 input{
    width: 40%;
    height: 25px;
    margin-bottom: 25px;
}
.main-col-1 input[type="email"]{
    margin-left: 13px;
}
.button-2{
    padding: 10px 20px 10px 20px;
    background-color: #e8491d;
    border: none;
    border-radius: 20px;
    color: #ffffff;
}

.main-col-1 a{
    text-decoration: none;
}

.showcase-1{
    width: 45%;
    margin: auto;
    padding: 20px;
    border: #cccccc 2px solid;
    /*border-radius: 25px;*/
    text-align: center;
    background-color: #e6e6e6;
}
.showcase-1 img{
    width: 100px;
    margin-bottom: 10px;
}
.showcase-1 h1{
    font-size: 25px;
    font-weight: normal;
    font-style: italic;
}

